@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--color-white);
  --color-sidebar-primary: var(--color-bluePrimary-500);
  --color-sidebar-foreground: var(--color-white);
  --color-sidebar: var(--color-bluePrimary-500);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --color-bluePrimary-50: #e7e9ee;
  --color-bluePrimary-100: #b3bac9;
  --color-bluePrimary-200: #8e98af;
  --color-bluePrimary-300: #5b6a8b;
  --color-bluePrimary-400: #3b4d75;
  --color-bluePrimary-500: #0a2052;
  --color-bluePrimary-600: #091d4b;
  --color-bluePrimary-700: #07173a;
  --color-bluePrimary-800: #06122d;
  --color-bluePrimary-900: #040d22;

  --color-yellowSecondary-50: #fff6e8;
  --color-yellowSecondary-100: #fee2b9;
  --color-yellowSecondary-200: #fed497;
  --color-yellowSecondary-300: #fdc067;
  --color-yellowSecondary-400: #fdb449;
  --color-yellowSecondary-500: #fca11c;
  --color-yellowSecondary-600: #e59319;
  --color-yellowSecondary-700: #b37214;
  --color-yellowSecondary-800: #8b590f;
  --color-yellowSecondary-900: #6a440c;

  --color-success-50: #e8f2e9;
  --color-success-100: #b7d6bb;
  --color-success-200: #94c39a;
  --color-success-300: #63a76c;
  --color-success-400: #459650;
  --color-success-500: #167c24;
  --color-success-600: #147121;
  --color-success-700: #10581a;
  --color-success-800: #0c4414;
  --color-success-900: #09340f;

  --color-info-50: #eaeefd;
  --color-info-100: #bfccfa;
  --color-info-200: #9fb3f8;
  --color-info-300: #7490f4;
  --color-info-400: #597af2;
  --color-info-500: #2f59ef;
  --color-info-600: #2b51d9;
  --color-info-700: #213faa;
  --color-info-800: #1a3183;
  --color-info-900: #142564;

  --color-warning-50: #f8f4e6;
  --color-warning-100: #eadbb0;
  --color-warning-200: #dfca8a;
  --color-warning-300: #d1b255;
  --color-warning-400: #c8a334;
  --color-warning-500: #ba8c01;
  --color-warning-600: #a97f01;
  --color-warning-700: #846301;
  --color-warning-800: #664d01;
  --color-warning-900: #4e3b00;

  --color-danger-50: #f4e8e8;
  --color-danger-100: #ddb7b8;
  --color-danger-200: #cc9496;
  --color-danger-300: #b56466;
  --color-danger-400: #a74549;
  --color-danger-500: #91171b;
  --color-danger-600: #841519;
  --color-danger-700: #671013;
  --color-danger-800: #500d0f;
  --color-danger-900: #3d0a0b;

  --color-neutral-50: #e6e6e6;
  --color-neutral-100: #b0b0b0;
  --color-neutral-200: #8a8a8a;
  --color-neutral-300: #545454;
  --color-neutral-400: #333333;
  --color-neutral-500: #000000;
}

body {
  font-family: var(--font-sans);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
